body {
   font-size: 62.5%;
   font-family: sans-serif;
   margin-bottom: 50px;
}

div.wrapper {
   width: 1000px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.text-align-left {
   text-align: left;
}

.text-align-right {
   text-align: right;
}

header {
   height: 50px;
   background-color: grey;
}

#title {
   font-size: 2.4rem;
   display:inline-block;
   margin-top: 5px;
}

nav {
   float: right;
   position: relative;
   margin-top: 26px;
}

nav a {
   color: black;
   font-size: 1.1rem;   
}

nav a:hover {
   color: white;
}

h1 {
   font-size: 1.4rem;
   margin-top: 8px;
   margin-bottom: 8px;
}

p {
   margin-bottom: 8px;
}

#main-content {
   font-size: 14px;
}

span.errorMsg {
   color: red;
   font-style: italic;
   display: none;
}

th {
   font-weight: bold;
   text-align: left;
}

td:empty, th:empty {
   width: 10px;
}

/* result table columns */
#tbl-wine-name {
   width: 85px;
}

#tbl-grape-variety {
   width: 170px;
}

#tbl-year {
   width: 35px;
}

#tbl-winery-name {
   width: 250px;
}

#tbl-region {
   width: 130px;
}

#tbl-cost {
   width: 60px;
}

#tbl-in-stock {
   width: 60px;
}

#tbl-ordered {
   width: 50px;
}

#tbl-sales-revinue {
   width: 80px;
}

tr:nth-child(even) {
   background-color: lightgrey;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color: grey;
}

footer > span {
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   font-size: 1.0rem;
}
